<div class="section"  id = "footer-card"style="background:#0C2074;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center my-2">
                <p class="text-white footer-text">Email us at <a href="mailto:hello@esatya.io"
                        class="text-white">hello@esatya.io</a></p>
                <a href="https://www.facebook.com/eSatya8848/" class="text-white"> <i
                        class="material-icons p-2">facebook</i></a>
                <a href="tel:+977 9801230044" class="text-white"><i class="material-icons p-2">phone</i></a>
                <a href="https://esatya.io/" class="text-white"><i class="material-icons p-2">language</i></a>
            </div>
            <div class="col-md-4 text-center">
            </div>
            <div class="col-md-1">
                <p class="text-white footer-text"><a href="/home" class="text-white">Home</a></p>
            </div>
            <div class="col-md-1">
                <p class="text-white footer-text"> <a href="/about-us" class="text-white">About</a></p>
            </div>

            <div class="col-md-1">
                <p class="text-white footer-text"><a href="Team" class="text-white">Team</a></p>
            </div>

            <div class="col-md-1">
                <p class="text-white footer-text"><a href="Contact" class="text-white">Contact</a></p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12 text-center mt-2 text-white">
                <p class="footer-text">Powered by 2019 Ⓒ <a href="https://esatya.io/" style="color:#eccf17">eSatya</a>.
                    Designed by <a href="https://rumsan.com" style="color:#eccf17">Rumsan</a>
                </p>
            </div>
        </div>
    </div>

</div>



<!--   Core JS Files   -->
<script src="/materialui/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/materialui/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/materialui/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/materialui/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/materialui/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/materialui/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/materialui/assets/js/material-kit.js?v=2.0.4" type="text/javascript"></script>