<!DOCTYPE html>
<html>

<head>
    <%- include('_layouts/header') %>

</head>

<body>
    <%- include('_layouts/navbar') %>


    <div class="container pb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section_title text-center">
                    Compare Bank Loans
                </h1>
                <p class="text-center">Compare the loans from different bank you've chosen below.</p>
                <hr />
            </div>
        </div>


        <div class="row mt-4">
            
            <div class="col-md-4">
                <h4 class = "px-2 ml-2 font-weight-bold">
                    Bank : 
                </h4>
                <div style="width: 100%;">
                    <select id="sort_by" class="px-2 ml-2 custom-select">
                     <option value="" disabled selected hidden>Select an option...</option>
                     <option>Interest Rate (Low to High)</option>
                     <option>Interest Rate (High to Low)</option>
                     <option>Base Rate (Low to High)</option>
                     <option>Base Rate (High to Low)</option>
                     <option>Total Interest Rate (Low to High)</option>
                     <option>Total Interest Rate (High to Low)</option>
                   </select>
                 </div>  
            </div>
            <div class="col-md-4">
                <h4 class = "px-2 ml-2 font-weight-bold">
                    Bank : 
                </h4>
                <div style="width: 100%;">
                    <select id="sort_by" class="px-2 ml-2 custom-select">
                     <option value="" disabled selected hidden>Select an option...</option>
                     <option>Interest Rate (Low to High)</option>
                     <option>Interest Rate (High to Low)</option>
                     <option>Base Rate (Low to High)</option>
                     <option>Base Rate (High to Low)</option>
                     <option>Total Interest Rate (Low to High)</option>
                     <option>Total Interest Rate (High to Low)</option>
                   </select>
                 </div>  
            </div>
            <div class="col-md-4">
                <h4 class = "px-2 ml-2 font-weight-bold">
                    Bank : 
                </h4>
                <div style="width: 100%;">
                    <select id="sort_by" class="px-2 ml-2 custom-select">
                     <option value="" disabled selected hidden>Select an option...</option>
                     <option>Interest Rate (Low to High)</option>
                     <option>Interest Rate (High to Low)</option>
                     <option>Base Rate (Low to High)</option>
                     <option>Base Rate (High to Low)</option>
                     <option>Total Interest Rate (Low to High)</option>
                     <option>Total Interest Rate (High to Low)</option>
                   </select>
                 </div>  
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">

                <div class="compare-img-container">
                    <img src="/img/primebank.png">
                </div>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>

                <h4 class="sub-heading-features mt-4">
                    <i class="material-icons" style="font-size:18px;">description</i> Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores mollitia incidunt ipsum.
                    Dolores architecto numquam illo adipisci quam sapiente quis, optio ut odit cumque aliquam
                    possimus assumenda blanditiis! Assumenda, pariatur?
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">trending_up
                    </i> Interest Rate
                </h4>
                <p>
                    - 10%
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">date_range</i> Tenure
                </h4>
                <p>
                    - Upto 20 years
                </p>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>
                <button type="button" class="btn btn-primary compare-apply">Learn More</button>
                <p class="terms-conditions">
                    <a href=""> Terms & Conditions</a>
                </p>
            </div>
            <div class="col-md-4">

                <div class="compare-img-container">
                    <img src="/img/sunrisebank.jpg">
                </div>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>

                <h4 class="sub-heading-features mt-4">
                    <i class="material-icons" style="font-size:18px;">description</i> Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores mollitia incidunt ipsum.
                    Dolores architecto numquam illo adipisci quam sapiente quis, optio ut odit cumque aliquam
                    possimus assumenda blanditiis! Assumenda, pariatur?
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">trending_up
                    </i> Interest Rate
                </h4>
                <p>
                    - 10%
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">date_range</i> Tenure
                </h4>
                <p>
                    - Upto 20 years
                </p>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>
                <button type="button" class="btn btn-primary compare-apply">Learn More</button>
                <p class="terms-conditions">
                    <a href=""> Terms & Conditions</a>
                </p>
            </div>
            <div class="col-md-4">

                <div class="compare-img-container">
                    <img src="/img/siddarthabank.png">
                </div>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>

                <h4 class="sub-heading-features mt-4">
                    <i class="material-icons" style="font-size:18px;">description</i> Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores mollitia incidunt ipsum.
                    Dolores architecto numquam illo adipisci quam sapiente quis, optio ut odit cumque aliquam
                    possimus assumenda blanditiis! Assumenda, pariatur?
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">trending_up
                    </i> Interest Rate
                </h4>
                <p>
                    - 10%
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">date_range</i> Tenure
                </h4>
                <p>
                    - Upto 20 years
                </p>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>
                <button type="button" class="btn btn-primary compare-apply">Learn More</button>
                <p class="terms-conditions">
                    <a href=""> Terms & Conditions</a>
                </p>
            </div>

        </div>

    </div>
    <%- include('_layouts/footer') %>

    <script>
        $.get('/api/v1/bank-names',{}, (data) => {
            console.log(data);
            data.forEach((el) => {
                
            })
        });
    </script>



</body>

</html>