<!DOCTYPE html>
<html>

<head>
    <%- include('_layouts/header') %>

</head>

<body>
    <%- include('_layouts/navbar') %>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section_title text-center">
                    Compare Bank Loans
                </h1>
                <p class="text-center">Compare the loans from different bank you've chosen below.</p>
                <hr />
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-4">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-0 compare-dropdown" href="javascript:;"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select to Compare
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/primesquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Prime Bank</a>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/sunrisesquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Sunrise Bank</a>
                            </div>
                        </div>
                        <hr class="m-0">

                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/siddarthasquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Siddartha Bank</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-0 compare-dropdown" href="javascript:;"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select to Compare
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/primesquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Prime Bank</a>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/sunrisesquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Sunrise Bank</a>
                            </div>
                        </div>
                        <hr class="m-0">

                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/siddarthasquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Siddartha Bank</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle p-0 compare-dropdown" href="javascript:;"
                        id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select to Compare
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/primesquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Prime Bank</a>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/sunrisesquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Sunrise Bank</a>
                            </div>
                        </div>
                        <hr class="m-0">

                        <div class="row compare-dropdown-row dropdown-item">
                            <div class="col-md-2 p-0">
                                <div class="compare-dropdown-img-container">
                                    <img src="/img/siddarthasquare.png">
                                </div>

                            </div>
                            <div class="col-md-10">
                                <a href="javascript:;" class="dropdown-link">Siddartha Bank</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">

                <div class="compare-img-container">
                    <img src="/img/primebank.png">
                </div>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>

                <h4 class="sub-heading-features mt-4">
                    <i class="material-icons" style="font-size:18px;">description</i> Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores mollitia incidunt ipsum.
                    Dolores architecto numquam illo adipisci quam sapiente quis, optio ut odit cumque aliquam
                    possimus assumenda blanditiis! Assumenda, pariatur?
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">trending_up
                    </i> Interest Rate
                </h4>
                <p>
                    - 10%
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">date_range</i> Tenure
                </h4>
                <p>
                    - Upto 20 years
                </p>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>
                <button type="button" class="btn btn-primary compare-apply">Learn More</button>
                <p class="terms-conditions">
                    <a href=""> Terms & Conditions</a>
                </p>
            </div>
            <div class="col-md-4">

                <div class="compare-img-container">
                    <img src="/img/sunrisebank.jpg">
                </div>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>

                <h4 class="sub-heading-features mt-4">
                    <i class="material-icons" style="font-size:18px;">description</i> Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores mollitia incidunt ipsum.
                    Dolores architecto numquam illo adipisci quam sapiente quis, optio ut odit cumque aliquam
                    possimus assumenda blanditiis! Assumenda, pariatur?
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">trending_up
                    </i> Interest Rate
                </h4>
                <p>
                    - 10%
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">date_range</i> Tenure
                </h4>
                <p>
                    - Upto 20 years
                </p>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>
                <button type="button" class="btn btn-primary compare-apply">Learn More</button>
                <p class="terms-conditions">
                    <a href=""> Terms & Conditions</a>
                </p>
            </div>
            <div class="col-md-4">

                <div class="compare-img-container">
                    <img src="/img/siddarthabank.png">
                </div>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>

                <h4 class="sub-heading-features mt-4">
                    <i class="material-icons" style="font-size:18px;">description</i> Description
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores mollitia incidunt ipsum.
                    Dolores architecto numquam illo adipisci quam sapiente quis, optio ut odit cumque aliquam
                    possimus assumenda blanditiis! Assumenda, pariatur?
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">trending_up
                    </i> Interest Rate
                </h4>
                <p>
                    - 10%
                </p>
                <hr />

                <h4 class="sub-heading-features">
                    <i class="material-icons" style="font-size:18px;">date_range</i> Tenure
                </h4>
                <p>
                    - Upto 20 years
                </p>
                <button type="button" class="btn btn-primary compare-apply">Apply now</button>
                <button type="button" class="btn btn-primary compare-apply">Learn More</button>
                <p class="terms-conditions">
                    <a href=""> Terms & Conditions</a>
                </p>
            </div>

        </div>

    </div>
    <%- include('_layouts/footer') %>



</body>

</html>