<!DOCTYPE html>
<html>

<head>
  <%- include('_layouts/header') %>
</head>

<body>
  <%- include('_layouts/navbar') %>

  <div class="custom-category">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h3 class="custom-color" style="font-weight:600; margin:0;">Choose a category</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="prev"><i
              class="fa fa-chevron-left"></i></a>
        </div>
        <div class="col-md-10">
                   
          <div id="loader-text" class="text-center">
            <div class="spinner-border text-dark" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div> 
          
          
          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">            
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                          
            </div>
            <!--/.Slides-->
          </div>
          <!--/.Carousel Wrapper-->
          
        </div>
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="next"><i
              class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>   
  </div>

  <div class="container loan-container">
    <section class="custom-category">
      <div class="sort-bar mt-2">
        <div style="width: auto;">
          <select id="sort_by" class="px-2 ml-2 custom-select">
           <option value="" disabled selected hidden>Select an option...</option>
           <option>Interest Rate (Low to High)</option>
           <option>Interest Rate (High to Low)</option>
           <option>Minimum Balance (Low to High)</option>
           <option>Minimum Balance (High to Low)</option>
         </select>
       </div>  
       <h4>
         Sort By: 
       </h4>
      </div>
      <hr class="mt-0">
      <div id="loader" class="text-center">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div> 
      <div class="loan-card">      
        
        <!-- Append All Data Here -->
      </div>
    </section>    
  </div>  
  <div id="compare-div" class="compare-popup fixed-bottom">
    <div class= "container">
      <h3>
        Compare Loans
      </h3>
      <div class = "row">
        <div class ="col-md-3">
          <div class ="compare-footer-card">
            <div class = "compare-footer-img-container">
              <img src = "https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">                
            </div>
            <h4>Add a bank loan</h4>
          </div>   
        </div> 
        <div class ="col-md-3">
          <div class ="compare-footer-card">
            <div class = "compare-footer-img-container">
              <img src = "https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">                
            </div>
            <h4>Add a bank loan</h4>
          </div>             
        </div> 
        <div class ="col-md-3">
          <div class ="compare-footer-card">
            <div class = "compare-footer-img-container">
              <img src = "https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">                
            </div>
            <h4>Add a bank loan</h4>
          </div>            
        </div> 
        <div class ="col-md-3 d-flex align-items-center">
          <a href="/compare" class = "btn btn-primary" id="compare_button">              
            Compare              
          </a>          
        </div> 
      </div>        
    </div>
  </div>   
    
  <%- include('_layouts/footer') %>

  <script>
    
    /* load all the loan types in carousel */
    $.get('/api/v1/loan-type',{},(data) => {
      console.log('beginning data loan type');
      console.log(data);
      for(let i = 0; i < data.length; i+=3){
        if(i==0){
          $('.carousel-inner').append(`
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card my-2 p-2" style="text-align: center;">
                  <a id="home_loan" href="#"><i class="material-icons">attach_money</i>${data[i].account_type}</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card my-2 p-2" style="text-align: center;">
                  <a id="auto_loan" href="#"><i class="material-icons">
                      money</i>${data[i+1].account_type}</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card my-2 p-2" style="text-align: center;">
                  <a id="educational_loan"href="#"><i class="material-icons">
                      local_atm
                    </i>${data[i+2].account_type}</a>
                </div>
              </div>
            </div>
          </div>
          `);   
        }
        $('.carousel-inner').append(`
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <div class="card my-2 p-2" style="text-align: center;">
                  <a id="home_loan" href="#"><i class="material-icons">attach_money</i> ${data[i].account_type}</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card my-2 p-2" style="text-align: center;">
                  <a id="auto_loan" href="#"><i class="material-icons">
                      money</i> ${data[i+1].account_type}</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card my-2 p-2" style="text-align: center;">
                  <a id="educational_loan"href="#"><i class="material-icons">
                      local_atm
                    </i> ${data[i+2].account_type}</a>
                </div>
              </div>
            </div>
          </div>
        `);       
      }
      $('#loader-text').hide();
    });
    
    /* load all the loan types in carousel */

  
    /* to load a few data at the beginning */
    $.get('/api/v1/all-data',{type:'Home Loan'},(data)=>{
      console.log('beginning data');
      let i =0;
      console.log(data);
      while(i<5){
        console.log(i);
        $('.loan-card').append(`
        <div class="row">
            <div class="col-md-3 first">
              <h4>${data[i].bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${data[i].product_type}</h4>
              <p>${data[i].product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${data[i].interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${data[i].base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${data[i].total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>          
        `);
        i++;
      }
      $('#loader').hide();
    });
    $('#compare-div').hide();
    
    $('input[type=checkbox]').change(function(){
      console.log('check');
      if($(this).is(':checked')) {      
        $('#compare-div').show();     
      } else {
        $('#compare-div').hide();
      }
    });

    $('#compare_button').on('click',()=>{
      id =[];
      id[0] = "0ed05a36-2f73-4bdc-bf87-1142f299b126";
      id[1] = "0aca4966-f9c1-4df4-bad7-125d0c6e413c";
      id[2] = "18fc0cbd-6e8e-412c-815f-b98b497df326";
      $.post('/api/v1/compare',{id : id});
    });


    /* Append Function */
    function append(loan_type){
      $('#loader').show();
      console.log(loan_type);      
      $.get('/api/v1/all-data',{type: loan_type}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    }
    /* append function end */

    $('#home_loan').on('click',()=>{
      append('Home Loan');
    });
    $('#auto_loan').on('click',()=>{
      append('Auto Loan');
    });
    $('#educational_loan').on('click',()=>{
      append('Education Loan');
    });  
    $('#sme_loan').on('click',()=>{
      append('SME Loan');
    });  
    $('#shares_loan').on('click',()=>{
      append('Loan Against Shares');
    });  
    $('#agriculture_loan').on('click',()=>{
      append('Agriculture Loan');
    });     


  </script> 
  
</body>

</html>