<!DOCTYPE html>
<html>

<head>
  <%- include('_layouts/header') %>
</head>

<body>
  <%- include('_layouts/navbar') %>

  <div class="custom-category">
    <div class="container-fluid">
      <div class="row mt-3">
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="prev"><i
              class="fa fa-chevron-left"></i></a>
        </div>
        <div class="col-md-10">

          <div id="loader-carousel" class="text-center">
            <div class="spinner-border text-dark" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>


          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-3">
                    <div class="card my-2 p-5 card_slider" style="text-align: center;">
                      <a id="_No_match" class="slider_text" href="#"> <i
                          class="material-icons slider_icon">attach_money</i><br />_No
                        Match</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card my-2 p-5 card_slider" style="text-align: center;">
                      <a id="Nari Bachat" href="#" class="slider_text"><i class="material-icons slider_icon">
                          money</i><br />Nari Bachat</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card my-2 p-5 card_slider" style="text-align: center;">
                      <a id="Kids Savings" href="#" class="slider_text"><i class="material-icons  slider_icon">
                          local_atm
                        </i><br />Kids Savings</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card my-2 p-5 card_slider" style="text-align: center;">
                      <a id="Old Age Saving" href="#" class="slider_text"><i class="material-icons  slider_icon">
                          local_atm
                        </i><br />Old Age Saving</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--/.Slides-->
          </div>
          <!--/.Carousel Wrapper-->

        </div>
        <div class="col-md-1 mt-2">
          <a id="next_slide" class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example"
            data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container loan-container">
    <section class="custom-category">
      <div class="sort-bar mt-2">
        <div style="width: 270px;">
          <select id="sort_by" class="px-2 ml-2 custom-select">
            <option value="" disabled selected hidden>Select an option...</option>
            <option>Interest Rate (Low to High)</option>
            <option>Interest Rate (High to Low)</option>
            <option>Base Rate (Low to High)</option>
            <option>Base Rate (High to Low)</option>
            <option>Total Interest Rate (Low to High)</option>
            <option>Total Interest Rate (High to Low)</option>
          </select>
        </div>
        <h4>
          Sort By:
        </h4>
      </div>
      <hr class="mt-0">
      <div id="loader" class="text-center">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div class="loan-card">

        <!-- Append All Data Here -->
      </div>
    </section>
  </div>
  <div id="compare-div" class="compare-popup fixed-bottom">
    <div class="container">
      <h3>
        Compare Loans
      </h3>
      <div class="row">
        <div class="col-md-3">
          <div class="compare-footer-card">
            <div class="compare-footer-img-container">
              <img src="https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">
            </div>
            <h4>Add a bank loan</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="compare-footer-card">
            <div class="compare-footer-img-container">
              <img src="https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">
            </div>
            <h4>Add a bank loan</h4>
          </div>
        </div>
        <div class="col-md-3">
          <div class="compare-footer-card">
            <div class="compare-footer-img-container">
              <img src="https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">
            </div>
            <h4>Add a bank loan</h4>
          </div>
        </div>
        <div class="col-md-3 d-flex align-items-center">
          <a href="/compare" class="btn btn-primary" id="compare_button">
            Compare
          </a>
        </div>
      </div>
    </div>
  </div>

  <%- include('_layouts/footer') %>

  <script>
    $('#loader-carousel').hide();
    $('#loader').hide();
    let rightButtonCounter = 0;
    let appendFunctionCounter = 0;
    let currentLoanData;

    console.log(appendFunctionCounter);

    $('#next_slide').on('click', () => {
      if (rightButtonCounter == 0) {
        $('#multi-item-example').hide();
        $('#loader-carousel').show();
        /* load all the loan types in carousel */
        $.get('/api/v1/loan-type', {}, (data) => {
          console.log('beginning data loan type');
          console.log(data);
          for (let i = 4; i < data.length -4; i += 4) {
            $('.carousel-inner').append(`
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-3">
                  <div class="card my-2 p-5 card_slider" style="text-align: center;">
                    <a id="${data[i].account_type}" class="slider_text" href="#"><i class="material-icons slider_icon">attach_money</i><br/> ${data[i].account_type}</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card my-2 p-5 card_slider" style="text-align: center;">
                    <a id="${data[i + 1].account_type}" class="slider_text" href="#"><i class="material-icons slider_icon">
                        money</i><br/> ${data[i + 1].account_type}</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card my-2 p-5 card_slider" style="text-align: center;">
                    <a id="${data[i + 2].account_type}"href="#" class="slider_text"><i class="material-icons slider_icon">
                        local_atm
                      </i><br/> ${data[i + 2].account_type}</a>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card my-2 p-5 card_slider" style="text-align: center;">
                    <a id="${data[i + 3].account_type}"href="#" class="slider_text"><i class="material-icons slider_icon">
                        local_atm
                      </i><br/> ${data[i + 3].account_type}</a>
                  </div>
                </div>
              </div>
            </div>
          `);
          }
          $('#loader-carousel').hide();
          $('#next_slide').click();
          $('#multi-item-example').show();

        });
        /* load all the loan types in carousel end*/
        rightButtonCounter = rightButtonCounter + 1;
      }
    });

    /* initial text on load card */
    $('.loan-card').append(`
      <div class = "row">
        <div class="alert alert-secondary" role="alert">
          Currently there are no bank data to display. Select a loan Category to view the data.
        </div>
      </div>
    `);
    /* initial text on load card */

    /* add data to loan card */
    $('.carousel-inner').on('click', function (e) {
      if (this !== e.target) {
        console.log($(e.target).attr('id'));
        if ($(e.target).attr('id')) {
          let type = $(e.target).attr('id');
          console.log(type);
          append(type);
        }
      }
    });
    /* add data to loan card */


    /* compare part */
    $('#compare-div').hide();

    $('input[type=checkbox]').change(function () {
      console.log('check');
      if ($(this).is(':checked')) {
        $('#compare-div').show();
      } else {
        $('#compare-div').hide();
      }
    });

    $('#compare_button').on('click', () => {
      id = [];
      id[0] = "0ed05a36-2f73-4bdc-bf87-1142f299b126";
      id[1] = "0aca4966-f9c1-4df4-bad7-125d0c6e413c";
      id[2] = "18fc0cbd-6e8e-412c-815f-b98b497df326";
      $.post('/api/v1/compare', { id: id });
    });
    /* compare part end */


    /* Append Function */
    function append(loan_type) {
      console.log('currentLoanData', currentLoanData);
      $('.loan-card').empty();
      $('#loader').show();
      console.log(loan_type);
      $.get('/api/v1/all-data', { type: loan_type }, (data) => {
        console.log(data);
        currentLoanData = data;
        console.log(currentLoanData);
        data.forEach(el => {
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
      appendFunctionCounter++;
      console.log(appendFunctionCounter);
    }
    console.log(appendFunctionCounter);
    /* append function end */
    console.log('currentLoanData', currentLoanData);

    /* sortedAppend function */
    function sortedAppend(sortedLoanData) {
      sortedLoanData.forEach(el => {
        $('.loan-card').append(`
                <div class="row">
                  <div class="col-md-3 first">
                    <h4>${el.bank_name}</h4>
                      <div class="img-container">
                        <img src="/img/primebank.png">
                      </div>
                  </div>
                  <div class="col-md-6 second">
                    <h4>${el.product_type}</h4>
                    <p>${el.product_name}</p>
                    <div class="interest_rate">
                      <p>
                        Interest Rate</br>
                      </p>
                      <ul>
                        <li class="interest_rate_add"> ${el.interest_rate} %</li>
                      </ul>
                    </div>
                    <div class="interest_rate">
                      <p>
                        Base Rate</br>
                      </p>
                      <ul>
                        <li class="interest_rate_add"> ${el.base_rate} %</li>
                      </ul>
                    </div>
                    <div class="interest_rate">
                      <p>
                        Total Interest Rate</br>
                      </p>
                      <ul class="mb-0">
                        <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                      </ul>
                    </div> 
                  </div>
                  <div class="col-md-3 third">
                    <button type="button" class="btn btn-primary">Apply now</button>
                    <button type="button" class="btn btn-primary">learn more</button>
                    <div class="custom-checkbox">
                      <input type="checkbox" id="" value="">
                      <p class="mb-0 ml-3">Select to compare </p>
                    </div>
                  </div>
                </div>
                <hr>
              `);
      });
    }
    /* sortedAppend function end */

    $('#sort_by').on('change', function () {
      if (appendFunctionCounter > 0) {
        console.log(this.value);
        if (this.value == "Interest Rate (Low to High)") {

          let sortedLoanData = currentLoanData.sort(function (a, b) {
            return a.interest_rate - b.interest_rate;
          });
          console.log('sortedloandata', sortedLoanData);
          $('.loan-card').empty();
          sortedAppend(sortedLoanData);
        }

        if (this.value == "Interest Rate (High to Low)") {
          let sortedLoanData = currentLoanData.sort(function (a, b) {
            return b.interest_rate - a.interest_rate;
          });
          console.log('sortedloandata', sortedLoanData);
          $('.loan-card').empty();
          sortedAppend(sortedLoanData);
        }

        if (this.value == "Base Rate (Low to High)") {

          let sortedLoanData = currentLoanData.sort(function (a, b) {
            return a.base_rate - b.base_rate;
          });
          console.log('sortedloandata', sortedLoanData);
          $('.loan-card').empty();
          sortedAppend(sortedLoanData);
        }

        if (this.value == "Base Rate (High to Low)") {
          let sortedLoanData = currentLoanData.sort(function (a, b) {
            return b.base_rate - a.base_rate;
          });
          console.log('sortedloandata', sortedLoanData);
          $('.loan-card').empty();
          sortedAppend(sortedLoanData);
        }

        if (this.value == "Total Interest Rate (Low to High)") {
          let sortedLoanData = currentLoanData.sort(function (a, b) {
            return a.total_interest_rate - b.total_interest_rate;
          });
          console.log('sortedloandata', sortedLoanData);
          $('.loan-card').empty();
          sortedAppend(sortedLoanData);
        }

        if (this.value == "Total Interest Rate (High to Low)") {
          let sortedLoanData = currentLoanData.sort(function (a, b) {
            return b.total_interest_rate - a.total_interest_rate;
          });
          console.log('sortedloandata', sortedLoanData);
          $('.loan-card').empty();
          sortedAppend(sortedLoanData);
        }


      }
    });




  </script>

</body>

</html>