<!DOCTYPE html>
<html>

<head>
  <%- include('_layouts/header') %>
</head>

<body>
  <%- include('_layouts/navbar') %>

  <div class="custom-category">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h3 class="custom-color" style="font-weight:600; margin:0;">Choose a category</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="prev"><i
              class="fa fa-chevron-left"></i></a>
        </div>
        <div class="col-md-10">

          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a href><i class="material-icons">home</i> Home Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a href><i class="material-icons">
                          directions_car</i> Auto Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a href><i class="material-icons">
                          school
                        </i> Educational Loan</a>
                    </div>
                  </div>

                </div>

              </div>
              <!--/.First slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a href><i class="material-icons">
                          business</i> SME Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-light my-2 p-2" style="text-align: center;">
                      <a href><i class="material-icons">money</i> Loan against Shares</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a href><i class="material-icons">agriculture</i> Agriculture Loan</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->


        </div>
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="next"><i
              class="fa fa-chevron-right"></i></a>
        </div>


      </div>

    </div>

    </disv>
  </div>

  <div class="container loan-container">

    <section class="custom-category">
      <div class="sort-bar mt-2">
        <a class=" dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="javascript:;">Interest Rate (Low to High)</a>
          <a class="dropdown-item" href="javascript:;">Interest Rate (High to Low)</a>
          <a class="dropdown-item" href="javascript:;">Minimum Balance (Low to High)</a>
          <a class="dropdown-item" href="javascript:;">Minimum Balance (High to Low)</a>
        </div>
      </div>
      <hr class="mt-0">
      <div class="loan-card">
        <div class="row">
          <div class="col-md-3 first">
            <h4>Prime Home Loan</h3>
              <div class="img-container">
                <img src="/img/primebank.png">
              </div>

          </div>
          <div class="col-md-6 second">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde provident ipsa numquam eveniet repudiandae
              sapiente aliquid consequatur dolores dolor alias nobis laboriosam, accusantium deleniti incidunt beatae
              itaque deserunt quas. Consectetur!
            </p>
            <div class="interest_rate">
              <p>
                Interest Rate</br>
              </p>
              <ul>
                <li class="interest_rate_add"> 15 %</li>
              </ul>
            </div>
            <div class="tenure">
              <p>Tenure</p>
              <ul>
                <li>Maximum upto 20 years</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 third">
            <button type="button" class="btn btn-primary">Apply now</button>
            <button type="button" class="btn btn-primary">learn more</button>
            <div class="custom-checkbox">
              <input type="checkbox" id="" value="">
              <p class="mb-0 ml-3">Select to compare </p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3 first">
            <h4>Prime Home Loan</h3>
              <div class="img-container">
                <img src="/img/primebank.png">
              </div>

          </div>
          <div class="col-md-6 second">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde provident ipsa numquam eveniet repudiandae
              sapiente aliquid consequatur dolores dolor alias nobis laboriosam, accusantium deleniti incidunt beatae
              itaque deserunt quas. Consectetur!
            </p>
            <div class="interest_rate">
              <p>
                Interest Rate</br>
              </p>
              <ul>
                <li class="interest_rate_add"> 15 %</li>
              </ul>
            </div>
            <div class="tenure">
              <p>Tenure</p>
              <ul>
                <li>Maximum upto 20 years</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 third">
            <button type="button" class="btn btn-primary">Apply now</button>
            <button type="button" class="btn btn-primary">learn more</button>
            <div class="custom-checkbox">
              <input type="checkbox" id="" value="">
              <p class="mb-0 ml-3">Select to compare </p>
            </div>
          </div>
        </div>
        <hr>
      </section>    
    </div>  
    <div id="compare-div" class="compare-popup fixed-bottom">
      <div class= "container">
        <h3>
          Compare Loans
        </h3>
        <div class = "row">
          <div class ="col-md-3">
            <div class ="compare-footer-card">
              <div class = "compare-footer-img-container">
                <img src = "/img/primesquare.png">
              </div>
              <h4>Prime Bank</h4>
            </div>
          </div> 
          <div class ="col-md-3">
            <div class ="compare-footer-card">
              <div class = "compare-footer-img-container">
                <img src = "/img/sunrisesquare.png">
              </div>
              <h4>Sunrise Bank</h4>
            </div>            
          </div> 
          <div class ="col-md-3">
            <div class ="compare-footer-card">
              <div class = "compare-footer-img-container">
                <img src = "" alt="add an item">                
              </div>
              <h4>Add a bank loan</h4>
            </div>            
          </div> 
          <div class ="col-md-3 d-flex align-items-center">
            <a href="/compare" class = "btn btn-primary">              
              Compare              
            </a>          
          </div> 
        </div>
        
      </div>
    </div>
    

    <!--   Core JS Files   -->
<script src="/materialui/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/materialui/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/materialui/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/materialui/assets/js/plugins/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/materialui/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/materialui/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/materialui/assets/js/material-kit.js?v=2.0.4" type="text/javascript"></script>

<script>
  $('#reveal').on('click',()=>{
    $('#compare-div').toggle();});

  let compareArr = [];
  $('input[name=checkbox]').change(function(){
    if($(this).is(':checked')) {
        console.log('hello');
    } else {
        console.log('not checked');
    }
  });
</script>
  </body>
        <hr>
      </div>
    </section>
  </div>
  <%- include('_layouts/footer') %>
</body>

</html>