<!DOCTYPE html>
<html>

<head>
  <%- include('_layouts/header') %>
</head>

<body>
  <%- include('_layouts/navbar') %>

  <div class="custom-category">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h3 class="custom-color" style="font-weight:600; margin:0;">Choose a category</h3>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="prev"><i
              class="fa fa-chevron-left"></i></a>
        </div>
        <div class="col-md-10">

          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a id="home_loan" href="#"><i class="material-icons">home</i> Home Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a id="auto_loan" href="#"><i class="material-icons">
                          directions_car</i> Auto Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a id="educational_loan"href="#"><i class="material-icons">
                          school
                        </i> Educational Loan</a>
                    </div>
                  </div>

                </div>

              </div>
              <!--/.First slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a id="sme_loan" href="#"><i class="material-icons">
                          business</i>SME Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card bg-light my-2 p-2" style="text-align: center;">
                      <a id="shares_loan" href="#"><i class="material-icons">money</i> Loan against Shares</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2 p-2" style="text-align: center;">
                      <a id="agriculture_loan" href="#"><i class="material-icons">agriculture</i> Agriculture Loan</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!--/.Slides-->
          </div>
          <!--/.Carousel Wrapper-->
          
        </div>
        <div class="col-md-1 mt-2">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="next"><i
              class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>   
  </div>

  <div class="container loan-container">
    <section class="custom-category">
      <div class="sort-bar mt-2">
        <a class=" dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="javascript:;">Interest Rate (Low to High)</a>
          <a class="dropdown-item" href="javascript:;">Interest Rate (High to Low)</a>
          <a class="dropdown-item" href="javascript:;">Minimum Balance (Low to High)</a>
          <a class="dropdown-item" href="javascript:;">Minimum Balance (High to Low)</a>
        </div>
      </div>
      <hr class="mt-0">
      <div id="loader" class="text-center">
        <div class="spinner-border text-dark" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div> 
      <div class="loan-card">      
        
        <!-- Append All Data Here -->
      </div>
    </section>    
  </div>  
  <div id="compare-div" class="compare-popup fixed-bottom">
    <div class= "container">
      <h3>
        Compare Loans
      </h3>
      <div class = "row">
        <div class ="col-md-3">
          <div class ="compare-footer-card">
            <div class = "compare-footer-img-container">
              <img src = "https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">                
            </div>
            <h4>Add a bank loan</h4>
          </div>   
        </div> 
        <div class ="col-md-3">
          <div class ="compare-footer-card">
            <div class = "compare-footer-img-container">
              <img src = "https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">                
            </div>
            <h4>Add a bank loan</h4>
          </div>             
        </div> 
        <div class ="col-md-3">
          <div class ="compare-footer-card">
            <div class = "compare-footer-img-container">
              <img src = "https://assets.rumsan.com/askbhunte/assets/bhunte.png" alt="Bank Logo">                
            </div>
            <h4>Add a bank loan</h4>
          </div>            
        </div> 
        <div class ="col-md-3 d-flex align-items-center">
          <a href="/compare" class = "btn btn-primary" id="compare_button">              
            Compare              
          </a>          
        </div> 
      </div>        
    </div>
  </div>   
    
  <%- include('_layouts/footer') %>

  <script>
    /* to load a few data at the beginning */
    $.get('/api/v1/all-data',{type:'Home Loan'},(data)=>{
      console.log('beginning data');
      let i =0;
      console.log(data);
      while(i<5){
        console.log(i);
        $('.loan-card').append(`
        <div class="row">
            <div class="col-md-3 first">
              <h4>${data[i].bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${data[i].product_type}</h4>
              <p>${data[i].product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${data[i].interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${data[i].base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${data[i].total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>          
        `);
        i++;
      }
      $('#loader').hide();
    });
    $('#compare-div').hide();
    
    $('input[type=checkbox]').change(function(){
      console.log('check');
      if($(this).is(':checked')) {      
        $('#compare-div').show();     
      } else {
        $('#compare-div').hide();
      }
    });

    $('#compare_button').on('click',()=>{
      id =[];
      id[0] = "0ed05a36-2f73-4bdc-bf87-1142f299b126";
      id[1] = "0aca4966-f9c1-4df4-bad7-125d0c6e413c";
      id[2] = "18fc0cbd-6e8e-412c-815f-b98b497df326";
      $.post('/api/v1/compare',{id : id});
    });

    $('#home_loan').on('click',()=>{
      $('#loader').show();
      console.log('home_loan');      
      $.get('/api/v1/all-data',{type:"Home Loan"}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    });

    $('#auto_loan').on('click',()=>{
      $('#loader').show();
      console.log('auto_loan');      
      $.get('/api/v1/all-data',{type:"Auto Loan"}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    });

    $('#educational_loan').on('click',()=>{
      $('#loader').show();
      console.log('Education_loan');     
      $.get('/api/v1/all-data',{type:"Education Loan"}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    });

    $('#sme_loan').on('click',()=>{
      $('#loader').show();
      console.log('sme_loan');     
      $.get('/api/v1/all-data',{type:"SME Loan"}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    });

    $('#shares_loan').on('click',()=>{
      $('#loader').show();
      console.log('shares_loan');     
      $.get('/api/v1/all-data',{type:"Loan Against Shares"}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    });

    $('#agriculture_loan').on('click',()=>{
      $('#loader').show();
      console.log('agriculture_loan');     
      $.get('/api/v1/all-data',{type:"Agriculture Loan"}, (data) =>{        
        console.log(data);
        $('.loan-card').empty();
        data.forEach(el =>{
          $('.loan-card').append(`
          <div class="row">
            <div class="col-md-3 first">
              <h4>${el.bank_name}</h4>
                <div class="img-container">
                  <img src="/img/primebank.png">
                </div>
            </div>
            <div class="col-md-6 second">
              <h4>${el.product_type}</h4>
              <p>${el.product_name}</p>
              <div class="interest_rate">
                <p>
                  Interest Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.interest_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Base Rate</br>
                </p>
                <ul>
                  <li class="interest_rate_add"> ${el.base_rate} %</li>
                </ul>
              </div>
              <div class="interest_rate">
                <p>
                  Total Interest Rate</br>
                </p>
                <ul class="mb-0">
                  <li class="interest_rate_add"> ${el.total_interest_rate} %</li>
                </ul>
              </div> 
            </div>
            <div class="col-md-3 third">
              <button type="button" class="btn btn-primary">Apply now</button>
              <button type="button" class="btn btn-primary">learn more</button>
              <div class="custom-checkbox">
                <input type="checkbox" id="" value="">
                <p class="mb-0 ml-3">Select to compare </p>
              </div>
            </div>
          </div>
          <hr>
        `);
        });
        $('#loader').hide();
      });
    });
  </script> 
  
</body>

</html>