<!DOCTYPE html>
<html>

<head>
  <%- include('_layouts/header') %>
</head>

<body>
  <%- include('_layouts/navbar') %>

  <div class="custom-category">
    <div class="container">

      <div class="row">
        <div class="col-md-12">
          <h3 class="custom-color" style="font-weight:600; margin:0;">Choose a category</h3>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-1 m-0">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="prev"><i
              class="fa fa-chevron-left"></i></a>
        </div>
        <div class="col-md-10">

          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">

                <div class="row">
                  <div class="col-md-3">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Home Loan</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Auto Loan</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Educational Loan</a>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Educational Loan</a>
                    </div>
                  </div>
                </div>

              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Home Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Auto Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Educational Loan</a>
                    </div>
                  </div>
                </div>

              </div>
              <!--/.Second slide-->

              <!--Third slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Home Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Auto Loan</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card my-2" style="text-align: center;">
                      <a href>Educational Loan</a>
                    </div>
                  </div>
                </div>

              </div>
              <!--/.Third slide-->

            </div>
            <!--/.Slides-->

          </div>
          <!--/.Carousel Wrapper-->


        </div>
        <div class="col-md-1 m-0">
          <a class="btn btn-primary" style="width: 100%; margin:0;" href="#multi-item-example" data-slide="next"><i
              class="fa fa-chevron-right"></i></a>
        </div>


      </div>

    </div>

    </disv>
  </div>

  <div class="container">

    <section class="custom-category">
      <div class="sort-bar">
        <a class=" dropdown-toggle" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="javascript:;">Interest Rate (Low to High)</a>
          <a class="dropdown-item" href="javascript:;">Interest Rate (High to Low)</a>
          <a class="dropdown-item" href="javascript:;">Minimum Balance (Low to High)</a>
          <a class="dropdown-item" href="javascript:;">Minimum Balance (High to Low)</a>
        </div>
      </div>
      <hr class="mt-0">
      <div class="loan-card">
        <div class="row">
          <div class="col-md-3 first">
            <h4>Prime Home Loan</h3>
              <div class="img-container">
                <img src="/img/primebank.png">
              </div>

          </div>
          <div class="col-md-6 second">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde provident ipsa numquam eveniet repudiandae
              sapiente aliquid consequatur dolores dolor alias nobis laboriosam, accusantium deleniti incidunt beatae
              itaque deserunt quas. Consectetur!
            </p>
            <div class="interest_rate">
              <p>
                Interest Rate</br>
              </p>
              <ul>
                <li class="interest_rate_add"> 15 %</li>
              </ul>
            </div>
            <div class="tenure">
              <p>Tenure</p>
              <ul>
                <li>Maximum upto 20 years</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 third">
            <button type="button" class="btn btn-primary">Apply now</button>
            <button type="button" class="btn btn-primary">learn more</button>
            <div class="custom-checkbox">
              <input type="checkbox" id="" value="">
              <p class="mb-0 ml-3">Select to compare </p>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3 first">
            <h4>Prime Home Loan</h3>
              <div class="img-container">
                <img src="/img/primebank.png">
              </div>

          </div>
          <div class="col-md-6 second">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde provident ipsa numquam eveniet repudiandae
              sapiente aliquid consequatur dolores dolor alias nobis laboriosam, accusantium deleniti incidunt beatae
              itaque deserunt quas. Consectetur!
            </p>
            <div class="interest_rate">
              <p>
                Interest Rate</br>
              </p>
              <ul>
                <li class="interest_rate_add"> 15 %</li>
              </ul>
            </div>
            <div class="tenure">
              <p>Tenure</p>
              <ul>
                <li>Maximum upto 20 years</li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 third">
            <button type="button" class="btn btn-primary">Apply now</button>
            <button type="button" class="btn btn-primary">learn more</button>
            <div class="custom-checkbox">
              <input type="checkbox" id="" value="">
              <p class="mb-0 ml-3">Select to compare </p>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </section>
  </div>

  <%- include('_layouts/footer') %>

</body>

</html>