body{
    background-color: #ffffff !important;
}
.custom-color{
    color: #0A1A4F;
}
hr{
    border-top: 1px solid  #0C2074;
}
.placeholder{
    position : relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.placeholder button{
    float: right;
   margin: 0px;
}
.search-bar{
    display : flex;
    flex-direction: row-reverse;
    align-items: center;
}

.loan-container {
    margin-bottom: 200px;
}

.custom-category a{   
    margin : 0px 20px;
    font-weight: 700;    
}

.sort-bar{
    text-align: right;
    padding : 10px 0px;
}

.compare-popup{
    background-color: #e2e2e2;
    padding: 0px 0 5px 0;
}
.compare-popup  h3{
    font-weight: 900;
    margin: 10px 0 10px 0;
}
.compare-popup a{
    width: 100%;
}
.compare-footer-card h4{
    font-weight: 400;
}
.compare-footer-img-container{
    width: 60px;
    height: 60px;
}
.compare-footer-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loan-card .row{
    padding : 35px 0px !important;
}

.loan-card hr{
    border-top: 1px solid  #0C2074;
}

.loan-card h4{
    margin:0px;
    padding: 0 0 10px 0;
    font-weight: 700;    
}

.loan-card .img-container{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.loan-card .interest_rate p{
    font-weight: 700;
}
.loan-card .interest_rate ul{
    list-style: none;
    padding : 0 0 0 0px;
}
.loan-card .interest_rate ul li:before
{
    content: '\2212';    
    margin-right: 8px; 
}
.loan-card .interest_rate ul li{
font-size: 14px;   
}

.loan-card .tenure p{
    font-weight: 700;
}
.loan-card .tenure ul{
    list-style: none;
    padding : 0 0 0 0px;
    margin:0;
}
.loan-card .tenure ul li:before
{
    content: '\2212';    
    margin-right: 8px; 
}
.loan-card .tenure ul li{
font-size: 14px;   
}

.loan-card button{
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
}

.loan-card .custom-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.loan-card input{
    align-self: center;    
}

.compare-img-container{
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}
.compare-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.compare-apply{
    width: 100%;    
}
table td{
    width: 33.33%;    
}
table tr h4{
    font-size: 20px;
    font-weight: 900;
    margin:0;
}
table tr p{
    margin-top: 10px;
}
.custom-table-margin{
    margin-top: 80px;
}
.custom-table-padding td{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.compare-dropdown-row{
    width: 300px;
}
.compare-dropdown-img-container{
    width: 100%;
    height: 40px;
}

.compare-dropdown-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.compare-dropdown{
    background-color: #0A1A4F;
    color:#ffffff;      
    border-radius: 5px;
    width: 3000px;
    height: 50px;
    padding : 0px 15px !important;
    text-align: center;      
    display:table-cell;    
    vertical-align:middle;    
}
.compare-dropdown:link{
    background-color: #0A1A4F;
    transition-duration: 250ms;
    color:#ffffff;
}
.compare-dropdown:hover{
    background-color: #2e5fff;
    transition-duration: 250ms;
    color:#ffffff;
}

.terms-conditions{
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
}



