body {
  background-color: #ffffff !important;
}

.custom-color {
  color: #0c2074;
}

hr {
  border-top: 1px solid #d4d9ec;
}

.placeholder {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.placeholder button {
  float: right;
  margin: 0px;
}

.search-bar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.loan-container {
  margin-bottom: 200px;
}

.custom-category a {
  margin: 0px 5px;
  font-weight: 700;
}

.sort-bar {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 0px;
}

.compare-popup {
  background-color: #e2e2e2;
  padding: 0px 0 5px 0;
}
.compare-popup h3 {
  font-weight: 900;
  margin: 10px 0 10px 0;
}
.compare-popup a {
  width: 100%;
}
.compare-footer-card h4 {
  font-weight: 400;
}
.compare-footer-img-container {
  width: 60px;
  height: 60px;
}
.compare-footer-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loan-card .row {
  padding: 35px 0px !important;
}

.loan-card hr {
  border-top: 1px solid #0c2074;
}

.loan-card h4 {
  margin: 0px;
  padding: 0 0 10px 0;
  font-weight: 700;
}

.loan-card .img-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.loan-card .interest_rate p {
  font-weight: 700;
}
.loan-card .interest_rate ul {
  list-style: none;
  padding: 0 0 0 0px;
}
.loan-card .interest_rate ul li:before {
  content: "\2212";
  margin-right: 8px;
}
.loan-card .interest_rate ul li {
  font-size: 14px;
}

.loan-card .tenure p {
  font-weight: 700;
}
.loan-card .tenure ul {
  list-style: none;
  padding: 0 0 0 0px;
  margin: 0;
}
.loan-card .tenure ul li:before {
  content: "\2212";
  margin-right: 8px;
}
.loan-card .tenure ul li {
  font-size: 14px;
}

.loan-card button {
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}

.loan-card .custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.loan-card input {
  align-self: center;
}

.compare-img-container {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
}
.compare-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.compare-apply {
  width: 100%;
}
table td {
  width: 33.33%;
}
table tr h4 {
  font-size: 20px;
  font-weight: 900;
  margin: 0;
}
table tr p {
  margin-top: 10px;
}
.custom-table-margin {
  margin-top: 80px;
}
.custom-table-padding td {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.compare-dropdown-row {
  width: 300px;
}
.compare-dropdown-img-container {
  width: 100%;
  height: 40px;
}

.compare-dropdown-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.compare-dropdown {
  background-color: #0c2074;
  color: #ffffff;
  border-radius: 5px;
  width: 3000px;
  height: 50px;
  padding: 0px 15px !important;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.compare-dropdown:link {
  background-color: white;
  border: 1px solid #0c2074;
  transition-duration: 250ms;
  color: #0c2074;
  font-size: 16px;
  font-weight: 400;
}
.compare-dropdown:hover {
  transition-duration: 250ms;
  color: #0c2074;
}

.terms-conditions {
  text-align: center;
  text-decoration: underline;
  font-weight: 900;
}

.section_title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: rgb(36, 42, 47);
}

.sub-heading {
  font-weight: 600;
  font-size: 28px;
  color: rgb(36, 42, 47);
}

.sub-heading-features {
  font-weight: 600;
  font-size: 20px;
  color: rgb(36, 42, 47);
}

.dropdown-menu .dropdown-item:hover {
  background-color: white;
  box-shadow: none;
}

.dropdown-menu a:hover {
  box-shadow: none;
  color: #0c2074 !important;
  background: transparent;
}

.dropdown-link {
  color: #333;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
}

.footer-text {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.btn.btn-primary:hover {
  background-color: #2039a2;
  border-color: #2039a2;
}
.slider_icon {
  font-size: 50px !important;
  color: white;
  padding: 1rem;
}
.slider_text {
  color: white;
  font-size: 20px;
}
.card_slider {
  background: #0c2074;
  max-height: 200px;
}

a:hover {
  color: white;
}

.chevron-margin {
  margin-top: 6rem;
}
